black ==23.12.1
colorama==0.4.6
flake8==7.0.0
flake8-2020==1.8.1
flake8-bandit==4.1.1
flake8-boolean-trap==1.0.1
flake8-bugbear==24.1.17
flake8-commas==2.1.0
flake8-comprehensions==3.14.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-errmsg==0.5.0
flake8-fixme==1.1.1
flake8-import-order==0.18.2
flake8-implicit-str-concat==0.4.0
flake8-no-pep420==2.7.0
flake8-pie==0.16.0
flake8-print==5.0.0
flake8-pytest-style==1.7.2
flake8-quotes==3.3.2
flake8-return==1.2.0
flake8-todos==0.3.0
flake8-unused-arguments==0.0.13
flake8-use-pathlib==0.3.0
flynt==1.0.1
isort==5.13.2
pep8-naming==0.13.3
perflint==0.7.3
pre-commit==3.4.0
pylint==2.17.5
pydocstyle==6.3.0
pycodestyle==2.11.1
pyupgrade==3.15.0
refurb==1.28.0
ruff==0.1.13
tryceratops==2.3.2
#flakehell==0.9.0
#black==23.9.1